@media (max-width: 768px) {
  section#content {
    display: none;
    height: 100vh;
    width: 100%;
    position: absolute;
    background: inherit;
    z-index: 10;
    top: 100%;
    left: 0%;
  }
  #arrow2 {
    margin: auto;
    position: static;
    -webkit-clip-path: polygon(50% 50%, 0 100%, 100% 100%);
    clip-path: polygon(50% 50%, 0 100%, 100% 100%);
  }
}
