// Colors

$text-color: #3C0919;
$light-color: grey;
$heading-color: #3C0919;
//$accent-color: #22181C;
$accent-color: #A61955;
$social-color: #3C0919;
$highlight-color: yellow;
$button-color: red;
$bg-color: #ECE2D9;
